/* Global */
body {
    font-family: 'Quicksand', sans-serif;
}

/* Global Background for all sections */
section {
    background-color: #fffaf2;
}

/* ////////////////////////////////////////////////////////////////////////// */



/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styling */
.header {
    background-color: #2B313D;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    gap: 10px;
}

.logo img {
    height: 60px;
}

/* Navigation Links */
.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #b0b3b8;
}

/* Authentication Buttons */
.auth-buttons {
    display: flex;
    gap: 10px;
}

.auth-buttons .sign-in,
.auth-buttons .sign-up {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s, color 0.3s;
}

/* Sign In Button */
.auth-buttons .sign-in {
    background-color: #b0b3b8;
    color: #2f3440;
}

.auth-buttons .sign-in:hover {
    background-color: #a0a3a8;
}

/* Sign Up Button */
.auth-buttons .sign-up {
    background-color: transparent;
    color: #b0b3b8;
    border: 2px solid #b0b3b8;
}

.auth-buttons .sign-up:hover {
    background-color: #b0b3b8;
    color: #2f3440;
}


/* ////////////////////////////////////////////////////////////////////////// */
/* Contact Us */

/* Google Maps Placeholder */
.google-maps-placeholder {
    width: 100%;
    height: 300px;
    background-color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 8px;
}

/* Contact Info Section */
.contact-info {
    background-color: #fffaf2;
    border-radius: 8px;
}

.contact-info .contact-details p {
    margin: 10px 0;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.contact-info .contact-details i {
    margin-right: 8px;
}

/* Contact Form */
.contact-form-container {
    background-color: #fffaf2;
    border-radius: 8px;
    color: white;
}

.contact-form-container .form-control {
    background-color: #fff;
    border: none;   
}

.contact-form-container .btn-submit {
    background-color: #333;
    color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
}

.contact-form-container .btn-submit:hover {
    background-color: #555;
}

/* ////////////////////////////////////////////////////////////////////////// */
/* Homepage */

/* Full-width Image Placeholder */
.full-width-image-placeholder {
    width: 100%;
    height: 300px;
    background-color: #ffffff;
}

/* Why Choose Us Placeholder */
.choose-us-placeholder {
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Our Services Placeholder */
.service-placeholder {
    width: 120px;
    height: 120px;
    background-color: #ffffff;
    border: 2px solid #ccc;
}

/* Testimonials Placeholder */
.testimonial-placeholder {
    width: 100%;
    max-width: 600px;
    height: 200px;
    background-color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 8px;
}

/* ////////////////////////////////////////////////////////////////////////// */
/* BANNER */

.carousel-item .banner-overlay {
    position: relative;
}

.carousel-item img {
    height: 500px;
    object-fit: cover;
}

.carousel-item .carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    z-index: 2;
}

.banner-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: 1;
}

.carousel-caption h2,
.carousel-caption p {
    z-index: 3;
}

.carousel-caption a.btn {
    z-index: 3;
}

/* ////////////////////////////////////////////////////////////////////////// */
/* About Us */

.about-us {
    background-color: #fffaf2;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.about-content.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.about-image {
    max-width: 100%;
    height: auto;
    max-height: 400px;
    margin-right: 20px;
    flex: 1;
}

.about-text {
    flex: 2;
    font-family: 'Quicksand';
}

.about-text h2 {
    margin-top: 0;
    font-family: 'Nerko One', cursive;
    font-size: 32px;
}

.about-text p {
    margin: 20px 0;
    font-family: 'Quicksand';
}

.read-more {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #2B313D;
    text-decoration: none;
    border-radius: 5px;
}

.read-more:hover {
    background-color: #555;
}

/* ////////////////////////////////////////////////////////////////////////// */
/* Why Choose Us */

.events-section {
    background-color: #fffaf2;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
}

.events-section h2 {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
    color: #5c4033;
}

.events-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.event-card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 300px;
    text-align: center;
}

.event-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.event-card:hover img {
    opacity: 0.8;
}

.event-card h3 {
    font-size: 24px;
    margin: 20px 0;
    color: #5c4033;
}

.event-card:hover {
    transform: scale(1.05);
}

/* ////////////////////////////////////////////////////////////////////////// */
/* Footer General Styles */
footer {
background: linear-gradient(rgba(43, 49, 61, 0.9), rgba(43, 49, 61, 0.9)),
            url('./Images/footer.jpg') no-repeat center center / cover;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 40px 0;
    font-family: Arial, sans-serif;
}

footer h3 {
    color: #f7b42c;
    margin-bottom: 15px;
}

footer p, footer label {
    color: #ddd;
}

footer .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    
}

footer form {
    display: flex;
    flex-direction: column;
}

/* Form Input Styles */
footer input[type="text"],
footer input[type="email"],
footer textarea {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: #fff;
}

footer textarea {
    resize: none;
}

footer button[type="submit"] {
    padding: 10px 20px;
    background-color: #f7b42c;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

footer button[type="submit"]:hover {
    background-color: #d69e23;
}

/* Right Side: Contact and Social Links */
footer .right-side {
    display: flex;
    flex-direction: column;
}

footer .right-side p {
    margin: 5px 0;
}

footer .social-links {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

footer .social-links a {
    color: #f7b42c;
    font-size: 24px;
    transition: color 0.3s;
}

footer .social-links a:hover {
    color: #d69e23;
}

/* Responsive Layout */
@media (max-width: 768px) {
    footer .container {
        flex-direction: column;
        text-align: center;
    }
    
    footer .right-side, footer form {
        align-items: center;
    }
}


/* About US Styles */

#chatbot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#chat-window {
    height: 400px;
    overflow-y: auto;
    padding: 10px;
}

#chat-messages {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

#chat-input {
    width: 100%;
    border: none;
    padding: 10px;
    font-size: 14px;
    border-top: 1px solid #ddd;
}

#send-button {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

/*Event View*/

/* Event Card Styling */
.event-card {
    background-color: #f8f9fa; /* Light background for event card */
    border: 1px solid #ddd;
}

.event-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.event-card h6 {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
}

.event-card p {
    font-size: 14px;
    color: #666;
    margin-bottom: 4px;
}

.event-link {
    text-decoration: none;
    color: inherit;
}

/* Category Title Styling */
h5.fw-bold {
    color: #333;
    margin-bottom: 15px;
}

.modal-dialog.modal-wide {
    max-width: 900px; /* Adjust this width as needed */
}

/* //////////////////////////////////////////////////////////////////////////////// */
/*Contact Us*/

/* Google Maps Placeholder */
.google-maps-placeholder {
    width: 100%;
    height: 300px;
    background-color: #ffffff; /* White background for Google Maps placeholder */
    border: 2px solid #ccc;
    border-radius: 8px;
}

/* Contact Info Section */
.contact-info {
    background-color: #f5e5c2; /* Light beige background */
    border-radius: 8px;
}

.contact-info .contact-details p {
    margin: 10px 0;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.contact-info .contact-details i {
    margin-right: 8px;
}

/* Contact Form */
.contact-form-container {
    background-color: #d4a746; /* Gold background for contact form */
    border-radius: 8px;
    color: white;
}

.contact-form-container .form-control {
    background-color: #fff;
    border: none;   
}

.contact-form-container .btn-submit {
    background-color: #333; /* Dark button color */
    color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
}

.contact-form-container .btn-submit:hover {
    background-color: #555; /* Slightly lighter on hover */
}

/* Chatbot Container */
#chatbot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 350px;
    max-height: 500px;
    background-color: #fefefe;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
}

#chatbot .chat-title {
    background-color: #6c757d;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

#chat-window {
    padding: 10px;
    overflow-y: auto;
    flex-grow: 1;
}

.chat-box {
    max-height: 350px;
    overflow-y: auto;
    padding: 10px;
    font-size: 0.9em;
}

/* Message Bubbles */
.user, .bot-wrapper {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
}

.user span, .bot span {
    padding: 10px 15px; /* Increase padding for more breathing room */
    border-radius: 20px;
    max-width: 80%;
    word-wrap: break-word;
    line-height: 1.5;
}

/* User Message */
.user span {
    background-color: #007bff;
    color: #fff;
    align-self: flex-end;
    margin-right: 5px;
}

/* Bot Message */
.bot-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px; /* Add space between bot messages and next content */
}

.bot {
    background-color: #f1f1f1;
    color: #333;
    margin-left: 5px;
    max-width: 90%; /* Ensure bot messages do not take up full width */
}

.bot span {
    padding: 12px 18px; /* More padding for better spacing */
    border-radius: 15px;
    color: #333;
    font-weight: 500;
    max-width: 90%;
    word-wrap: break-word;
    white-space: normal; /* Allow text to wrap */
    line-height: 1.6; /* Increase line spacing for readability */
}

/* Chat Input Form */
#chat-form {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
}

#question {
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 0.9em;
    outline: none;
    padding-left: 15px;
}

#chat-form button {
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 0.9em;
    margin-left: 10px;
    cursor: pointer;
}

#chat-form button:hover {
    background-color: #5a6268;
}

/* Toggle Button Style */
.toggle-chatbot-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 1em;
    display: flex;
    align-items: center;
    gap: 5px;
}

.toggle-chatbot-btn i {
    font-size: 1.2em;
}

/* Chatbot Container */
#chatbot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 350px;
    max-height: 500px;
    background-color: #fefefe;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    overflow: hidden;
    display: none; /* Hidden by default */
}

/* Chat Header */
.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #6c757d;
    color: white;
}

.chat-title {
    font-size: 1.2em;
    font-weight: bold;
}

.close-chatbot-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.2em;
}

/* Chat Window */
.chat-container {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
}

.chat-box {
    max-height: 350px;
    overflow-y: auto;
    padding: 10px;
    font-size: 0.9em;
}

/* Message Bubbles */
.user, .bot-wrapper {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
}

.user span, .bot span {
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 80%;
    word-wrap: break-word;
    line-height: 1.5;
}

.user span {
    background-color: #007bff;
    color: #fff;
    align-self: flex-end;
    margin-right: 5px;
}

.bot-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.bot span {
    padding: 12px 18px;
    border-radius: 15px;
    color: #333;
    font-weight: 500;
    max-width: 90%;
    word-wrap: break-word;
    white-space: normal;
    line-height: 1.6;
}

/* Chat Input Form */
#chat-form {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
}

#question {
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 0.9em;
    outline: none;
    padding-left: 15px;
}

#chat-form button {
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 0.9em;
    margin-left: 10px;
    cursor: pointer;
}

#chat-form button:hover {
    background-color: #5a6268;
}

